nav a img {
  width: 3%;
  margin-left: auto;
  border-radius: 20px;
  display: block;
  float: right;
  padding: 3px;
}
.products img {
  width: 1%;
  margin-left: auto;
  display: block;
  padding: 10px;
  float: right;
}
.head {
  float: right;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 6px;
}
.head a {
  text-decoration: none;
}

.logo {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon-text {
  display: inline-block;
  justify-content: ;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}
.search {
  width: 480px;
}
.search {
  /* width: 480px;
  height: 35px;
  border-radius: 20px;
  border-width: 1px;
  border-left-color: rgb(189, 189, 189);
  margin-left: auto;
  margin-right: auto; */
  /* display: flex; */
  /* margin-top: 8px; */
  /* z-index: auto; */
}

.fa-search {
  color: gray;

  /* width: 90px; */
  /* padding: 5px; */
  /* display: flex;
  justify-content: right; */
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: -30.5px; */
  /* background-color: rgb(255, 255, 255); */
  /* z-index: auto; */
  /* border-radius: 20px; */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  padding: 0px 10px;
}
.footer {
  margin: 20px;
  text-align: center;
}
footer a {
  text-decoration: none;
}
.first-group {
  margin: 10px;
  padding-right: 50px;
  text-align: center;
  display: flex;
  justify-content: baseline;
}
